/**
 * @file
 * Basic block styling
 */

#block-islandora-solr-simple{
  float: right;
  position: relative;
  div.contextual-links-wrapper{
    top: -13px !important;
  }
}

#block-islandora-collection-search-islandora-collection-search{
  text-align: center;
}

.view-recently-added .view-content .views-row {
  padding-bottom: 10px;
}

.block-islandora-usage-stats .list-group li{
  padding-bottom: 10px;
}

#block-islandora-solr-basic-facets {
  h3{
    padding-top: .8em;
    font-weight: normal;
    font-family: $sbtsfont;
  }
}
#block-views-powered-by-dgi-block{
  margin-bottom: 0em;
  .views-field.views-field-title{
    color: white;
    display: table-cell;
    font-style: italic;
    padding-left: 20px;
    padding-right: 20px;
    vertical-align: middle;
  }
  .views-field.views-field-field-block-image{
    display: table-cell;
    padding-top: 3px;
    img {
      max-width: 114px;
    }
  }
}

.block-islandora-collection-search .form-item-islandora-simple-search-query .form-text {
  font-size: 100%;
  border: 1px solid grey;
}

#block-views-nyhs-contact-info-view-block {
  .field-content {
    font-size: 85%;
  }
}

#block-islandora-collection-search-islandora-collection-search{
/*   .form-submit{ */
/*     display: none; */
/*   } */
  h1 {
    display: inline;
    font-size: 100%;
  }
  .form-item-collection-select, .form-item-islandora-simple-search-query{
    input, select{
      width: 35%;
    }
  }
}

#block-islandora-usage-stats-top-usage{
  list-style-type: none;
}

.block-islandora-usage-stats{
  span{
    color: lightgrey;
  }
}

/* Islandora Advanced Search */
#block-islandora-solr-advanced{
  font-weight: normal !important;
  h2{
    font-size: 2em;
  }
}

#islandora-solr-advanced-terms{
  label{
    font-weight: normal !important;
    font-size: 2em;
    padding-bottom: 10px;
    color: $base-link-color;
  }
}

.service-links ul{
  padding-left: 0px;
  li{
    list-style-type: none;
    a{
      font-size: 0;
    }
  }
}

.islandora-objects-display-switch{
  ul, li{
    display: inline;
    padding-bottom: 0;
    padding-left: 0;
    padding-top: 0;
    padding-right: 10px;
    float: right;
  }
}

%display-switch{
  background-repeat: no-repeat;
  line-height: 0; 
  font-size: 0;
  color: transparent; 
  display: block;
  height: 30px;
  text-indent: -9999px;
  width: 30px;
}

.islandora-objects-display-switch, .islandora-basic-collection-display-switch, #block-islandora-solr-sort, #block-islandora-solr-display-switch{
  width: 100%;
  ul.islandora-solr-display, ul.links{
    margin-top: 5px;
    margin-bottom: 0px;
    li a.display-bookmark{
      background-image: image-url('display-bookmark.png');
      @extend %display-switch;
    }
    li a.display-default{
      background-image: image-url('display-grid-list.png');
      @extend %display-switch;
    }
    li a.display-grid{
      background-image: image-url('display-grid.png');
      @extend %display-switch;
    }
  }
  ul.islandora-solr-sort{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
/*     float: left !important; */
    li {
      float: left;
      a[title="Label"] { 
        background-image: image-url('sort.png');
        @extend %display-switch;
      }
      a[title="Date"] {
        background-image: image-url('calendar.png');
        @extend %display-switch;
      }
    }
  }
}

#block-islandora-solr-display-switch {
    float: right;
    width: 100%;
}

%triangle-up {
  width: 0 !important;
  height: 0 !important;
  border-left: 10px solid transparent !important;
  border-right: 10px solid transparent !important;
  border-bottom: 10px solid grey !important;
  background-color: transparent !important;
  background-image: none !important;
  border-top-style: none !important;
}

#block-islandora-solr-basic-facets{
  h2{
    line-height: 20px;
  }
}

.islandora-solr-facet-wrapper{
  ul{
    margin-top: .8em;
  }
  margin-bottom: 1.5em;
  h3{
    margin-bottom: 0;
  }
}
.ui-slider-handle{
  @extend %triangle-up;
  top: 0px !important;
}

.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all {
  height: 1px;
}

.slider-popup-to-wrapper, .slider-popup-from-wrapper{
  display: none !important;
}
#edit-range-slider-submit {
  margin-top: 15px;
}

.recently-added-to-collection-PID{
  width: 20px;
  height: 20px;
}

.collection-view-recently-added{
  .views-row{
    float: left;
    clear: left;
    display: inline;
    padding: 3px;
    div.views-field{
      float: left;
      padding: 3px;
    }
  }
}

.islandora-metadata-sidebar{
  h2{
    display: none;
  }
}

.date-range-slider-canvas-wrapper canvas {
  max-width: 100%;
}

.islandora-large-image-content, #book-viewer{
  position: relative;
}

.subsequent-pages-wrapper{
  padding-top: 10px;
}

.view-subsequent-pages{
  .flex-direction-nav a::before{
    font-size: 18px !important;
  }
  .slides > li {
    padding-top: 20px;
  }
  .flex-viewport{
    margin: 20px;
  }
  .flexslider{
    background-color: transparent !important;
    border: none !important;
  }
}

.owl-wrapper-outer{
  background-color: #eeeeee;
  border-radius: 5px;
  img.lazyOwl {
    max-height: 80px;
    padding-top: 5px;
  }
  .owl-item {
    text-align: center;
  }
}

.slideshow-subsequent-page-PID-field-wrapper{
  text-align: center;
}

.view-nyhs-contact-info-view{
  p{
    margin-top: .5em;
    margin-bottom: .5em;
  }
}

#footer .block{
  margin-bottom: .5em;
}

#block-fblikebutton-fblikebutton-static-block {
/*   iframe{ */
/*     max-width: 100px; */
/*     position: absolute; */
/*   } */
/*   .blog-fliker-wrapper { */
/*     display: table-cell; */
/*     vertical-align: top; */
/*   } */
}

/* #widgets-element-addthis-share { */
/*   display: table-cell; */
/* } */

/* .blog-fliker-wrapper { */
/*   display: table-cell; */
/*   vertical-align: middle; */
/*   img{ */
/*     box-sizing: border-box; */
/*     padding: 5px; */
/*   } */
/* } */