/**
 * @file
 * Basic view grid styling for the Header Layout.
 */


@import "zen";

$zen-column-count: 7;
$zen-gutter-width: 10px;
$zen-auto-include-item-base: true;
  
@media (min-width: 620px) {
  .inner-div-header{
    @include zen-grid-container;
    .header{
      @include zen-grid-item(7, 1);
    }
    #navigation{
      @include zen-clear();
      @include zen-grid-item(7, 1);
    }
  }
}