/**
 * @file
 * Basic view grid styling for the basic islandora object view.
 */

@import "zen";

$zen-column-count: 20;
$zen-gutter-width: 10px;
$zen-auto-include-item-base: true;

@media (max-width: 620px) {
  .social-islandora-content-wrapper{
    @include zen-grid-container;
    .block-service-links{
      
      @include zen-grid-item(20, 1);
      text-align: center;
      ul {
        margin-top: 0px;
        margin-bottom: 0px;
        li{
          display: inline !important;
        }
      }
    }
    .page-content-wrapper{ 
      @include zen-clear();
      @include zen-grid-item(20, 1);
    }
  }
}

@media (min-width: 620px) {
  .social-islandora-content-wrapper{
  @include zen-grid-container;
  .page-content-wrapper{ 
    @include zen-grid-item(19, 1);
  }
  .block-service-links{
    @include zen-grid-item(1, 20);
    text-align: center;
  }
}
}
