/**
 * @file
 * Basic view grid styling for the basic islandora object view.
 */

@import "zen";

$zen-column-count: 20;
$zen-gutter-width: 10px;
$zen-auto-include-item-base: true;

@media (max-width: 620px) {
  .social-islandora-content-wrapper{
    @include zen-grid-container;
    .block-service-links{
      
      @include zen-grid-item(20, 1);
      text-align: center;
      ul {
        margin-top: 0px;
        margin-bottom: 0px;
        li{
          display: inline !important;
        }
      }
    }
    .page-content-wrapper{ 
      @include zen-clear();
      @include zen-grid-item(20, 1);
    }
  }
}

@media (min-width: 620px) {
  .social-islandora-content-wrapper{
  @include zen-grid-container;
  .page-content-wrapper{ 
    @include zen-grid-item(19, 1);
  }
  .block-service-links{
    @include zen-grid-item(1, 20);
    text-align: center;
  }
}
}

.jstree-icon.jstree-themeicon{
  border-radius: 5px;
}

.islandora-link-object {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: white;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: black;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: black;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: black;
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: border-box;
    display: table-cell;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    max-width: 80px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    text-align: center;
    vertical-align: middle;
}